@CHARSET "UTF-8";
*{margin:0;padding:0;}
body { font: .8em Georgia, "Times New Roman", Serif; background: #fff; color: #777; }

a { color: #D40000; text-decoration: none; }
a:hover { color: #8F0000; }

p { line-height: 1.7em; margin: 0 0 15px; }
.clear, .x { clear: both; }

#wrapper { width: 960px; margin: 40px auto; }

div.title { float: left; font-size: 2em; font-weight: normal; font-style: italic; padding: 0 0 25px 10px; margin: 0 0 10px; }
h1 { font-weight: normal; font-size: 2.6em; padding: 0 0 10px; margin: 0 0 15px; color: #D40000; }
h3 { font-size: 1.7em; font-weight: normal; margin: 0 0 20px; }
	h3 a { color: #222; }

#wrapper > .menu { float: right; margin: 10px 10px 0 0; width:637px }
#wrapper > .menu li { display: inline; list-style: none; }
#wrapper > .menu li.open a { color: #D40000; }
#wrapper > .menu li a { float: left; margin: 0 0 0 20px; color: #888; }
#wrapper > .menu li a:hover { color: #555; }

.post { clear: both; padding: 30px 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 0 0 40px; }
	.post .details { float: left; width: 250px; }
	.post .details .info { font-size: .9em; color: #999; }
		.post .details .info a { color: #777; border-bottom: 1px dotted #999; padding: 3px 1px; }
	.post .body { float: right; width: 618px; padding: 0 0 0 30px; border-left: 1px solid #ddd; }

.col { width: 290px; margin: 0 40px 30px 0; float: left; font-size: .9em; }
	.col.last { margin-right: 0; }

#footer { clear: both; border-top: 1px solid #ddd; padding: 20px 0; font-size: .9em; color: #999; }

.details ul {
	padding:0 10px;
}