<?xml version="1.0" encoding="utf-8"?>
<!-- generator="bancha-0.7" -->
<content>
	<id>1</id>
	<name>Menu</name>
	<description>Menu</description>
	<tree>true</tree>
	<primary_key>id_record</primary_key>
	<table>records</table>
	<table_stage>records_stage</table_stage>
	<parent_types>
		<type>Menu</type>
	</parent_types>
	<has_categories>true</has_categories>
	<triggers>
		<trigger on="insert, update, delete" field="id_parent">
			<sql action="recount" type="Menu" target="child_count" />
		</trigger>
	</triggers>
	<fieldset>
		<name>General informations</name>
		<field id="id_record" column="true">
			<type>hidden</type>
			<list>true</list>
			<admin>true</admin>
		</field>
		<field id="id_type" column="true">
			<type>hidden</type>
			<list>true</list>
			<default>1</default>
		</field>
		<field id="published" column="true">
			<type>hidden</type>
			<default>0</default>
		</field>
		<field id="date_insert" column="true">
			<type>hidden</type>
			<list>true</list>
			<default>eval:time()</default>
		</field>
		<field id="id_parent" column="true">
			<description>Parent page</description>
			<type>select</type>
			<list>true</list>
			<options>
				<custom>$this->view->get('parent_tree');</custom>
			</options>
		</field>
		<field id="title" column="true" link="edit">
			<description>Title</description>
			<type>text</type>
			<mandatory>true</mandatory>
			<admin>true</admin>
			<list>true</list>
		</field>
		<field id="uri" column="true">
			<description>Page URL</description>
			<type>text</type>
			<list>true</list>
		</field>
		<field id="lang" column="true">
			<description>Language</description>
			<type>select</type>
			<admin>true</admin>
			<list>true</list>
			<options>
				<custom>config_item('languages_select')</custom>
			</options>
			<default>eval:$this->lang->current_language</default>
		</field>
		<field id="contenuto">
			<description>Content</description>
			<type>textarea</type>
			<list>true</list>
		</field>
		<field id="show_in_menu" column="true">
			<description>Show in menu</description>
			<type>radio</type>
			<mandatory>true</mandatory>
			<admin>true</admin>
			<list>true</list>
			<options>
				<option value="T">Main menu</option>
				<option value="S">Sitemap</option>
				<option value="F">Don't show</option>
			</options>
			<default>T</default>
		</field>
		<field id="child_count" column="true">
			<description>Child no.</description>
			<type>hidden</type>
			<list>true</list>
			<default>0</default>
			<admin>true</admin>
		</field>
	</fieldset>
	<fieldset>
		<name>Aspect and actions</name>
		<field id="view_template">
			<description>View template</description>
			<type>select</type>
			<mandatory>true</mandatory>
			<admin>false</admin>
			<list>true</list>
			<options>
				<option value="default">Default</option>
			</options>
		</field>
		<field id="page_cache">
			<description>Page cache (minutes)</description>
			<type>number</type>
			<default>0</default>
		</field>
		<field id="priority" column="true">
			<description>Priority</description>
			<type>number</type>
			<default>0</default>
		</field>
		<field id="action">
			<description>Page action</description>
			<type>select</type>
			<onchange>bancha.actions.record_act();</onchange>
			<options>
				<option value="text">Single text</option>
				<option value="list">Content list</option>
				<option value="action">Custom action</option>
				<option value="link">External link</option>
			</options>
		</field>
		<field id="action_list_type">
			<visible>false</visible>
			<description>Content type</description>
			<type>select</type>
			<sql cache="true">
				<select>id_type AS value, name</select>
				<from>types</from>
				<where></where>
				<order_by>name ASC</order_by>
			</sql>
		</field>
		<field id="action_list_categories">
			<visible>false</visible>
			<description>Categories</description>
			<type>text</type>
		</field>
		<field id="action_list_hierarchies">
			<visible>false</visible>
			<description>Hierarchies</description>
			<type>hierarchy</type>
		</field>
		<field id="action_list_where">
			<visible>false</visible>
			<description>WHERE Condition</description>
			<type>text</type>
		</field>
		<field id="action_list_limit">
			<visible>false</visible>
			<description>Results per page</description>
			<type>number</type>
		</field>
		<field id="action_list_order_by">
			<visible>false</visible>
			<description>Results order</description>
			<type>select</type>
			<options>
				<option value="id_record DESC">ID record (DESC)</option>
				<option value="id_record ASC">ID record (ASC)</option>
				<option value="date_publish DESC">Publish date (DESC)</option>
				<option value="date_publish ASC">Publish date (ASC)</option>
			</options>
		</field>
		<field id="action_list_has_feed">
			<visible>false</visible>
			<description>RSS Feed</description>
			<type>select</type>
			<options>
				<option value="T">Yes</option>
				<option value="F">No</option>
			</options>
			<default>T</default>
		</field>
		<field id="action_custom_name">
			<visible>false</visible>
			<description>Action name</description>
			<type>text</type>
		</field>
		<field id="action_link_url">
			<visible>false</visible>
			<description>Redirect URL</description>
			<type>text</type>
		</field>
	</fieldset>
	<fieldset>
		<name>Attachments</name>
		<field id="images">
			<description>Images</description>
			<type>images</type>
			<size>4096</size>
			<mimes>jpg|gif|png|jpeg</mimes>
			<encrypt_name>false</encrypt_name>
			<original>true</original>
			<resized>640x?</resized>
			<thumbnail>60x?</thumbnail>
			<max>3</max>
			<list>true</list>
		</field>
	</fieldset>
	<fieldset>
		<name>Meta tags</name>
		<field id="meta_title">
			<description>Title</description>
			<type>text</type>
			<length>128</length>
		</field>
		<field id="meta_description">
			<description>Description</description>
			<type>text</type>
			<length>128</length>
		</field>
		<field id="meta_keywords">
			<description>Keywords</description>
			<type>text</type>
			<length>128</length>
		</field>
	</fieldset>
</content>